@import "./variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
   font-family: 'Inter', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: currentColor;
}
button,
button:active,
button:focus {
  background-color: transparent;
}
input,
textarea,
select,
button {
  font: inherit;
  border: none;
  outline: none;
}
.input{
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;

}
.input:focus, .input:hover{
    background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
.input-secondary{
  height: 40px;
  padding:0 0 0 32px;
  background-color: transparent;
  border: none;
  outline: none;

}
.line-horisontal{
  background-color: var(--accent-color-darker);
  height: 1px;
  width:100%;
}
.form-floating > label::after{
    background-color: transparent !important;/*я уже не знаю как избавиться от этого хаднего вона специфичность повышать не буду мне норм так*/
}
:focus-visible {
  outline: 2px solid rgb(123, 123, 224);
}
.form-check-input:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.error {
  inline-size: 100%;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  border: 1px solid var(--accent-color);
}
.link{
  color:var(--accent-color-darker);
}
.link:hover{
  color:var(--accent-color-darker);
}
